p {
    font-size: x-large;
}


.grid {
    display: grid;
    grid-auto-flow: column;
}

.grid2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50%;
    gap : 10px;
}
.grid2 div {
    background-color: grey;
}
.grid2 #one{
    color : blue;
    align-self: start;
}